:root {
  --usedFont: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.outerContainer {
  height: 35.5rem;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.flexText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30rem;
}

.flexMap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  font-family: var(--usedFont);
  font-size: 1.3rem;
  text-align: center;
  color: firebrick;
}

h3 {
  font-family: var(--usedFont);
  font-size: 0.8rem;
  text-align: center;
  color: firebrick;
}

p {
  font-family: var(--usedFont);
  font-weight: bold;
  font-size: 0.65rem;
  text-align: justify;
}

#citiesDiv:hover {
  box-shadow: 0 2rem 2.5rem 0 rgba(0, 0, 0, 0.4),
    0 2.5rem 7.5rem 0 rgba(0, 0, 0, 0.4);
  transition: 0.5s;
}
