@import url("https://fonts.googleapis.com/css2?family=Federo&display=swap");

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  background-image: url("https://wallpapercave.com/wp/wp2003015.jpg");
  background-size: cover;
  min-height: 100%;
}

.outerContainer {
  background-image: url("https://webgradients.com/public/webgradients_png/089%20Premium%20White.png");
  background-size: cover;
  outline: 0.25vh solid black;
  position: absolute;
  height: 80%;
  width: 85%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0.9;
  border-radius: 5%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header span {
  font-weight: bold;
  color: black;
  font-size: 2vh;
  padding: 1% 2.5%;
  font-family: "Federo";
  text-transform: uppercase;
  cursor: pointer;
}

header span:hover {
  font-size: 2.25vh;
  transition: 0.5s;
}

.home {
  color: darkslateblue;
}

.learn,
.explore {
  color: royalblue;
}

.compare,
.currency {
  color: #058ed9;
}

.metro,
.tba {
  color: #715aff;
}

.active {
  color: #a3333d;
}

footer {
  display: flex;
  margin-top: 1.25%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 1.5vh;
  font-weight: bold;
  color: black;
  font-family: "Federo";
}
